@import "tailwindcss";

:root {
  --background: #ffffff;
    --foreground: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-inter-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #666666;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-sans);
}

.react-calendar__navigation__label__labelText{
  @apply text-[22px] font-semibold text-[#1A1A1A] font-sans;
}

.react-calendar__month-view__weekdays__weekday {
  @apply text-[#666666] text-[16px] font-medium font-sans capitalize min-h-13.5 justify-center items-center flex;
}

.react-calendar__month-view__weekdays__weekday abbr{
  @apply no-underline;
}

.react-calendar__tile{
  @apply text-[#1A1A1A] text-[18px] font-normal font-sans;
}

.react-calendar__tile abbr{
  @apply w-10 h-10 flex items-center justify-center mx-auto;
}


.react-calendar__navigation{
  @apply flex mb-7;
}

.react-calendar__month-view__weekdays{
  @apply text-center gap-2.25;
}

.react-calendar__tile--active abbr{
  @apply bg-[#1A1A1A] text-[#fff] rounded-full;
}

.react-calendar__month-view__weekdays__weekday,.react-calendar__month-view__days__day{
  flex: 1 0 calc(14.2857% - 9px) !important;
}

.react-calendar__month-view__days{
 @apply gap-2.5;
}

.react-calendar__navigation__label{
  @apply order-1 text-left;
}

.react-calendar__navigation__prev-button{
  @apply order-2 mr-8;
}

.react-calendar__navigation__next-button{
  @apply order-3;
}

.react-calendar__navigation__arrow{
  @apply cursor-pointer;
}

.react-calendar__year-view__months,.react-calendar__decade-view__years{
  @apply border-l border-t border-[#1a1a1a];
}

.react-calendar__year-view__months .react-calendar__tile abbr,.react-calendar__decade-view__years .react-calendar__tile{
  @apply h-11;
}

.react-calendar__year-view__months__month,.react-calendar__decade-view__years__year{
  @apply border-b border-r border-[#1a1a1a];
}

.react-calendar__tile[disabled],.react-calendar__navigation__arrow[disabled]{
  @apply cursor-not-allowed opacity-50 text-[#666666];
}

.react-calendar__month-view__days__day--neighboringMonth,.react-calendar__month-view__days__day--neighboringMonth.react-calendar__tile[disabled]{
  @apply opacity-0;
}